#download {
  font-size: 20px;
  padding: 8px 12px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 16px;
  background-color: rgb(183, 183, 183);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#group {
  display: flex;
  justify-content: space-around;
}
